:root {
    --content-wight: 1280px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, sans-serif;
    font-size: 16px;
    background-color: #6B6B6B;
}

.content {
    max-width: var(--content-wight);
    min-height: 500px;
    background-color: #EEEEEE;
    margin: 0 auto;
}
